@import "themes.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  min-width: 320px;
  height: 100svh;
  max-height: 100svh;
}

a {
  color: inherit;
}

article {
  background-color: var(--main-bg-content-color);
}
