@mixin d-flex-center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin pos-sticky {
  position: sticky;
  top: 0;
}

@mixin txt-deco-none {
  text-decoration: none;
}

@mixin link-deco-none {
  @include txt-deco-none;
  a:visited {
    color: inherit;
  }
}
