@import "color.module.scss";

:root {
  --main-bg-color: #{$color-white-1};
  --main-bg-content-color: #{$color-white-2};
  --text-color: #{$color-black};
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-bg-color: #{$color-black-1};
    --main-bg-content-color: #{$color-white-2};
    --text-color: #{$color-white};
  }
}
